
                <html>
                <head><title>HTML Pandas Dataframe with CSS</title></head><link rel="stylesheet" type="text/css" href="/static/df_style.css?q=
                86"/><body> <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Keyword</th>
      <th>Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>BCM</td>
      <td>Hi, I am selling a NIB BCM Waffle stock that was never used- no wear or scratches and telltale 2 inj...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/WTS-New-BCM-Waffle-Stock/125-2003378/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/WTS-New-BCM-Waffle-Stock/125-2003378/</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>BCM</td>
      <td>Brand new from BCM, been in my spare parts bin not doing anything. $25 shipped. I accept PayPal, Zelle, a...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/WTS-BCM-H2-Buffer-25-shipped-SOLD-/125-2002146/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/WTS-BCM-H2-Buffer-25-shipped-SOLD-/125-2002146/</a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>LMT</td>
      <td>brand new never used LMT Tactical Grip by Ergo in Black$30 shipped</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/LMT-Tactical-Grip-by-Ergo-Black/125-2002716/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/LMT-Tactical-Grip-by-Ergo-Black/125-2002716/</a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>LMT</td>
      <td>LMT buffer spring $15, shipped</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/LMT-Buffer-spring-new/125-2002475/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/LMT-Buffer-spring-new/125-2002475/</a></td>
    </tr>
  </tbody>
</table></body></html>.