
                <html>
                <head><title>HTML Pandas Dataframe with CSS</title></head><link rel="stylesheet" type="text/css" href="/static/df_style.css?q=
                96"/><body> <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Keyword</th>
      <th>Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>BCM</td>
      <td>Hi, I am selling a NIB BCM Waffle stock that was never used- no wear or scratches and telltale 2 inj...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/WTS-New-BCM-Waffle-Stock/125-2003378/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/WTS-New-BCM-Waffle-Stock/125-2003378/</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>BCM</td>
      <td>Brand new from BCM, been in my spare parts bin not doing anything. $25 shipped. I accept PayPal, Zelle, a...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/WTS-BCM-H2-Buffer-25-shipped-SOLD-/125-2002146/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/WTS-BCM-H2-Buffer-25-shipped-SOLD-/125-2002146/</a></td>
    </tr>
    <tr>
      <th>3</th>
      <td>LMT</td>
      <td>brand new never used LMT Tactical Grip by Ergo in Black$30 shipped</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/LMT-Tactical-Grip-by-Ergo-Black/125-2002716/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/LMT-Tactical-Grip-by-Ergo-Black/125-2002716/</a></td>
    </tr>
    <tr>
      <th>4</th>
      <td>LMT</td>
      <td>LMT buffer spring $15, shipped</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/LMT-Buffer-spring-new/125-2002475/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/LMT-Buffer-spring-new/125-2002475/</a></td>
    </tr>
    <tr>
      <th>5</th>
      <td>AR</td>
      <td>This is the original Anti-Tilt buffer, designed to prevent excessive wear to the receiver extension (buffer tube) caused by bolt carrier tilt/cant in the popular piston-driven ARs. The elongated head ...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/Anti-Tilt-Heavy-Buffers-for-Piston-Operated-ARs/125-1185990/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/Anti-Tilt-Heavy-Buffers-for-Piston-Operated-ARs/125-1185990/</a></td>
    </tr>
    <tr>
      <th>6</th>
      <td>AR</td>
      <td>Buy the Luth AR-15 Lower Parts Kit Now for only $36.99Getting ready for that next rifle build?  Look no&amp;n...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/Luth-AR-15-Lower-Parts-Kit-36-99/125-1983945/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/Luth-AR-15-Lower-Parts-Kit-36-99/125-1983945/</a></td>
    </tr>
    <tr>
      <th>7</th>
      <td>AR</td>
      <td>The latest innovation of Velocity Triggers is Diamond Like Carbon Coating (DLC) on the trigger which will give ...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/Velocity-AR-10-Drop-in-Trigger-with-Free-Shipping-134-95/125-1983927/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/Velocity-AR-10-Drop-in-Trigger-with-Free-Shipping-134-95/125-1983927/</a></td>
    </tr>
    <tr>
      <th>8</th>
      <td>AR</td>
      <td>Choice of a triggerSSAESDCSD3G Only have DDC CH LEFTACH DDC$305 SHIPPED TEXT 6039966023PICS UPON REQUEST NOT SEPARATING&amp;...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/GEISSELE-TRIGGER-AND-CHARGING-HANDLE-COMBO/125-2001175/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/GEISSELE-TRIGGER-AND-CHARGING-HANDLE-COMBO/125-2001175/</a></td>
    </tr>
    <tr>
      <th>9</th>
      <td>AR</td>
      <td>ELF Triggers - (CLICK to VIEW)\r\n15% OFF with coupon code "TRIG15"\r\nAll products and order ship for free on our website.\r\nPlease post for feedback or if you have any questions\r\n</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/15-OFF-ELF-AR15-AR10-Drop-in-Triggers-w-code-TRIG15-Free-Shipping-/125-1640607/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/15-OFF-ELF-AR15-AR10-Drop-in-Triggers-w-code-TRIG15-Free-Shipping-/125-1640607/</a></td>
    </tr>
    <tr>
      <th>10</th>
      <td>AR</td>
      <td>\r\nHeavy Buffers reduce cyclic rate of fire and felt recoil. Other benefits include less wear/tear on the weapon and smoother operation.\r\nQuantity/dealer discounts available on orders of five or more b...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/-HeavyBuffers-com-AR15-AR10-UCIW-CQB-45-ACP-and-9mm/125-1464429/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/-HeavyBuffers-com-AR15-AR10-UCIW-CQB-45-ACP-and-9mm/125-1464429/</a></td>
    </tr>
    <tr>
      <th>11</th>
      <td>AR</td>
      <td>\r\nThe Heavy Stainless Steel\r\n buffer weighs 6.5 ounces â More than twice the weight of OEM \r\ncarbine buffers.\r\nMachined from solid 303 Stainless Steel with a\r\n Tungsten anti-bounce internal weight. In...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/HSS-Tungsten-Buffer-For-all-AR15-Carbines/125-1244571/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/HSS-Tungsten-Buffer-For-all-AR15-Carbines/125-1244571/</a></td>
    </tr>
    <tr>
      <th>12</th>
      <td>AR</td>
      <td>New in the package and unused.  This is one of the earlier High Speed NM triggers made in NJ before&amp;...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/Geissele-AR-15-High-Speed-National-Match-DMR-Trigger/125-1999755/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/Geissele-AR-15-High-Speed-National-Match-DMR-Trigger/125-1999755/</a></td>
    </tr>
    <tr>
      <th>13</th>
      <td>AR15</td>
      <td>ELF Triggers - (CLICK to VIEW)\r\n15% OFF with coupon code "TRIG15"\r\nAll products and order ship for free on our website.\r\nPlease post for feedback or if you have any questions\r\n</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/15-OFF-ELF-AR15-AR10-Drop-in-Triggers-w-code-TRIG15-Free-Shipping-/125-1640607/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/15-OFF-ELF-AR15-AR10-Drop-in-Triggers-w-code-TRIG15-Free-Shipping-/125-1640607/</a></td>
    </tr>
    <tr>
      <th>14</th>
      <td>AR15</td>
      <td>\r\nHeavy Buffers reduce cyclic rate of fire and felt recoil. Other benefits include less wear/tear on the weapon and smoother operation.\r\nQuantity/dealer discounts available on orders of five or more b...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/-HeavyBuffers-com-AR15-AR10-UCIW-CQB-45-ACP-and-9mm/125-1464429/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/-HeavyBuffers-com-AR15-AR10-UCIW-CQB-45-ACP-and-9mm/125-1464429/</a></td>
    </tr>
    <tr>
      <th>15</th>
      <td>AR15</td>
      <td>\r\nThe Heavy Stainless Steel\r\n buffer weighs 6.5 ounces â More than twice the weight of OEM \r\ncarbine buffers.\r\nMachined from solid 303 Stainless Steel with a\r\n Tungsten anti-bounce internal weight. In...</td>
      <td><a href="https://www.ar15.com/forums/Equipment-Exchange/HSS-Tungsten-Buffer-For-all-AR15-Carbines/125-1244571/" target="_blank">https://www.ar15.com/forums/Equipment-Exchange/HSS-Tungsten-Buffer-For-all-AR15-Carbines/125-1244571/</a></td>
    </tr>
  </tbody>
</table></body></html>.